.user {
display: flex;

}

.userPhoto {
    width: 60px;
}

.button{
    width: 70px;
    background-color: aqua;
    border-radius: 10px; 
}

.info{
margin-left: 20px;
margin-bottom: 40px;

}

.name{
    font-weight: bold;
}
