.selectedPage{
    font-weight: bold;
    cursor: pointer;
}

.user {
display: flex;

}

.userPhoto {
    width: 60px;
}

.button{
    width: 70px;
    background-color: aqua;
    border-radius: 10px; 
}

.info{
margin-left: 20px;
margin-bottom: 70px;

}

.name{
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    cursor: pointer;
}
