.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogsItems {
    padding: 10px;
}

.dialog a {
    color: #6610f2;
    text-decoration: none;
}

.dialog a.activeLink {
    font-weight: bold;
}

.messages {
    padding: 10px;
}
